@font-face {
  font-family: 'NanumSuJubEunDaeHagSaeng';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSuJubEunDaeHagSaeng/NanumSuJubEunDaeHagSaeng.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSuJubEunDaeHagSaeng/NanumSuJubEunDaeHagSaeng.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSuJubEunDaeHagSaeng/NanumSuJubEunDaeHagSaeng.ttf') format('truetype');
}